<h1>THIS IS THE SECRET PAGE</h1>

<img width="300px" src="https://st.depositphotos.com/1003377/3956/i/950/depositphotos_39561625-stock-photo-boy-whispers-girl-in-the.jpg" alt="secret">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>